<!DOCTYPE html>
<html>

<head>
  <title>Download files here!</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>Download files here!</h1>
  </header>

  <ul>
    <% for (const file of files) {%>
      <li>
        <a href="download/<%=file%>">
          <%=file%>
        </a>
      </li>
      <% } %>
  </ul>


</body>

</html>