<!DOCTYPE html>
<html>

<head>
  <title>express-file-uploader</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>Express File Downloader</h1>
  </header>
  <p>Click on any of the files below to start downloading it:</p>

  <ul>
    <% for (const file of files) {%>
      <li>
        <a href="download/<%=file%>">
          <%=file%>
        </a>
      </li>
      <% } %>
  </ul>


</body>

</html>